Webpage2 CSS
body,html,link{
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue
    
}
h1{font-size: 65px;
   text-align: center;
   text-shadow: 60px;
   margin: 20px;
   color:greenyellow;
   text-shadow: 10%;
} 
h2{font-size: 30px;
} 
a{
color:greenyellow;
font-style: italic;
}
li{
    font-size: 30px;
    color: aliceblue;
    column-gap: 20px;
    justify-content: center;
}
div{
    flex-wrap: fixed;
    justify-content: right;
    margin: 50px;
        float: none;
        width: 60%;
        padding: 150px;
        /* Source: From https://css.glass */
        background: rgba(244, 231, 231, 0.12);
        border-radius: 30px;
        grid-row: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15.5px);
        -webkit-backdrop-filter: blur(15.5px);
        border: 5px solid rgba(244, 231, 231, 0.644);
        display: flex;
        flex-direction: column;
        flex: 200px
     }
p{
font-size: 20px;
columns: 50px;
}
footer{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
